/* mobile first styles */


body {
	font-family: sans-serif;
	box-sizing: border-box;
	background-color: #f7fafc;

}


.hero-img {
	background: url('images/mountains.jpg') no-repeat center center;
	background-size: cover;
	width: 100%;
	height: 300px;
	opacity: 0.8; /* makes the image a bit translucent */
	position: relative;
	margin: 5px auto;
}


.page-heading {
	position: absolute;
	left: 0;
	right: 0;
	top: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.4);
}

h1 {
	color: #000080;
	font-size: 40px;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 20px;
}

p {
	font-size: 16px;
}

nav {
	z-index: 1;
	position: absolute;
	right: 20px;
}

.ul-nav {
	float: right;
}

.ul-nav li {
	display: inline-block;
	padding: 0 15px;
	background-color: rgba(255, 255, 255, 0.6);
	font-size: 16px;

}

a {
	text-decoration: none;
	color: #000080;
}

section {
	padding: 15px;
	margin: 20px auto;

}

.info, 
.media-container {
	display: block;
	margin: 25px auto;
	width: 100%;
}

.responsive-img {
	width: 80%;
	margin-left: 10%;
}

.modal {
	visibility: hidden;
	background-color: #000080;
	position: fixed;
	z-index: 1; /* makes the modal layer appear on top */
	width: 70%;
	left: 0;
	right: 0;
	bottom: 100px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}

.modal-content {
	color: #ffffff;
	padding: 20px;
	font-size: 20px;

}

.modal-content p {
	font-size: 20px;

}

.modal-content input {
	background-color: #ffffff;
}


table {
	margin: 0 auto;
}

th {
	height: 100px;
	font-size: 18px;
	text-align: center;
	background-color: #e6f3ff;
}

td {
	height: 80px;
	font-size: 18px;
	text-align: center;
	background-color: #e6f3ff;
}
.trh {
	width: 30%;
	padding: 0 10px;
	text-align: center;
	font-weight: bold;
}


label {
	display: block;
	font-size: 16px;
}

input {
	width: 95%;
	height: 20px;
	font-size: 16px;
	background-color: #e6f3ff;
	margin-bottom: 5px;
}

textarea {
	height: 10em;
	width: 95%;
	resize: none;
	font-size: 16px;
	background-color: #e6f3ff;
	margin-top: 20px;
}

button {
	font-size: 16px;
	border: 1px solid #737373;
}

footer {
	background-color: #000080;
	opacity: 0.7;
	width: 100%;
	margin: 5px auto;
	color: #ffffff;
	text-align: right;
	padding-right: 15px;
	font-size: 35px;
}


@media all and (min-width: 600px) {

	.hero-img {
		height: 400px;
	}

	h1 {
		font-size: 50px;
	}


	h2 {
		font-size: 25px;
	}

	h3 {
		font-size: 25px;
	}

	p {
		font-size: 16px;
	}


	section {
		padding: 20px;
		clear: both;
		margin: 5px 25px;
		overflow: auto;
	}

	.info {
		width: 55%;
		float: left;
		display: inline-block;
	}

	.media-container {
		width: 42%;
		margin-left: 2%;
		float: left;
		display: inline-block;
		overflow: auto;
	}

	.responsive-img {
		width: 100%;
	}


	.modal {
		width: 60%;
	}

	.modal-content {
		padding: 20px;
	}


	.modal-content p {
		font-size: 16px;

	}

	table {
		width: 100%;
	}

	td, th {
		height: 80px;
		width: 140px;
		font-size: 16px;
	}


	footer {
		font-size: 20px;
	}

}

@media all and (min-width: 1440px) {

	body {
		max-width: 80%;
		margin: 0 auto;
	}

	nav {
		right: 180px;
	}

}

